.news_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #4A90E2;
    color: white;
    border-radius: 3px;
    min-width: 62px;
    height: 22px;
    font-size: 12px;
    line-height: 15.53px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}