.header__logo-text {
    background: #4A90E2;
    border-radius: 3px;
    width: 39px;
    height: 23px;
    font-family: "Lato";
    font-weight: normal;
    line-height: 16.8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}