.head-news__column_left {
    background-image: url(../../../images/Bitmap-grey-mercedes.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 373.33px;
    height: 560px;
    margin: 0  0 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    text-decoration: white;
    padding: 30px 0 0 21.67px;
    box-sizing: border-box;
}

.head-news__column_left:hover {
    box-shadow: 0 0 20px #4A90E2;;
    transition: 0.3s ease;
}