.tags__tag {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background: #EBEBEB;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}