.header {
    box-sizing: border-box;
    width: 100%;
    min-height: 90px;
    background: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}