.news-block__container {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    bottom: -120px;
    width: 730px;
    min-height: 249px;
    box-sizing: border-box;
    padding: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}