.contacts__contacts-zone {
    max-width: 1174px;
    display: flex;
    margin: 0 auto 0;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline-end: 103px;
    box-sizing: border-box;
}