@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/news-tag/news-tag.css);
@import url(../blocks/news-subline/news-subline.css);
@import url(../blocks/news-subline/_place/news-subline_place_columns.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__logo-zone/header__logo-zone.css);
@import url(../blocks/header/__logo-text/header__logo-text.css);
@import url(../blocks/header/__logo/__logo.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__links/menu__links.css);
@import url(../blocks/header/__search-icon/header__search-icon.css);
@import url(../blocks/content/content.css);
@import url(../blocks/head-news/head-news.css);
@import url(../blocks/head-news/__column/_left.css);
@import url(../blocks/head-news/__column/_right.css);
@import url(../blocks/head-news/__cards/head-news__cards.css);
@import url(../blocks/head-news/__cards/_position/head-news__cards_position_left-top.css);
@import url(../blocks/head-news/__cards/_position/head-news__cards_position_right-top.css);
@import url(../blocks/head-news/__cards/_position/head-news__cards_position_left-bottom.css);
@import url(../blocks/head-news/__cards/_position/head-news__cards_position_right-botton.css);
@import url(../blocks/head-news/__heading-container/head-news__heading-container.css);
@import url(../blocks/head-news/__heading-container/_place/head-news__heading-container_place_left-column.css);
@import url(../blocks/head-news/__heading/head-news__heading.css);
@import url(../blocks/head-news/__heading/_place/head-news__heading_place_left-column.css);
@import url(../blocks/head-news/__heading-container/_place/head-news__heading-container_place_right-column.css);
@import url(../blocks/head-news/__heading/_place/head-news__heading_place_right-column.css);
@import url(../blocks/news-columns/news-columns.css);
@import url(../blocks/column/column.css);
@import url(../blocks/column/_place_right/column_pace_right.css);
@import url(../blocks/news-block/news-block.css);
@import url(../blocks/news-block/_number/news-block_number_one.css);
@import url(../blocks/news-block/_number/news-block_number_two.css);
@import url(../blocks/news-block/_number/news-block_number_three.css);
@import url(../blocks/news-block/_number/news-block_number_four.css);
@import url(../blocks/news-block/_number/news-block_number_five.css);
@import url(../blocks/news-block/__container/news-block__container.css);
@import url(../blocks/news-block/__heading/news-block__heading.css);
@import url(../blocks/news-block/__paragraph/news-block__paragraph.css);
@import url(../blocks/author/author.css);
@import url(../blocks/author/__photo/author__photo.css);
@import url(../blocks/author/__name/author__name.css);
@import url(../blocks/author/__text/author__text.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/__instagram-icon/button__instagram-icon.css);
@import url(../blocks/popular-posts/popular-posts.css);
@import url(../blocks/popular-posts/__section-title/popular-posts__section-title.css);
@import url(../blocks/popular-posts/__post/popular-posts__post.css);
@import url(../blocks/popular-posts/__illustration/popular-posts__illustration.css);
@import url(../blocks/popular-posts/__illustration/_number/popular-posts__illustration_number_one.css);
@import url(../blocks/popular-posts/__illustration/_number/popular-posts__illustration_number_two.css);
@import url(../blocks/popular-posts/__illustration/_number/popular-posts__illustration_number_three.css);
@import url(../blocks/popular-posts/__heading/popular-posts__heading.css);
@import url(../blocks/instagram/instagram.css);
@import url(../blocks/instagram/__section-title.css/instagram__section-title.css);
@import url(../blocks/instagram/__posts/instagram__posts.css);
@import url(../blocks/instagram/__post/instagram__post.css);
@import url(../blocks/tags/tags.css);
@import url(../blocks/tags/__tag-zone/tags__tag-zone.css);
@import url(../blocks/tags/__section-title/tags-_section-title.css);
@import url(../blocks/tags/__tag/tags__tag.css);
@import url(../blocks/tags/__tag/__position/tags__tag_position_last-in-line.css);
@import url(../blocks/newsletter/newsletter.css);
@import url(../blocks/newsletter/__section-title/newsletter__section-title.css);
@import url(../blocks/newsletter/__description/newsletter__description.css);
@import url(../blocks/newsletter/__user-data/newsletter__user-data.css);
@import url(../blocks/newsletter/__section-title/_theme/newsletter__section-title_theme_dark.css);
@import url(../blocks/newsletter/__user-data/_theme/newsletter__user-data_theme_dark.css);
@import url(../blocks/pages-links/pages-links.css);
@import url(../blocks/pages-links/__link/pages-links__link.css);
@import url(../blocks/pages-links/__link/_theme/pages-links__link_theme_black.css);
@import url(../blocks/pages-links/__link/_theme/pages-links__link_theme_grey.css);
@import url(../blocks/most-popular/most-popular.css);
@import url(../blocks/most-popular/__cards/most-popular__cards.css);
@import url(../blocks/most-popular/__cards-zone/most-popular__cards-zone.css);
@import url(../blocks/most-popular/__illustration/most-popular__illustration.css);
@import url(../blocks/most-popular/__illustration/_number/most-popular__illustration_number_one.css);
@import url(../blocks/most-popular/__illustration/_number/most-popular__illustration_number_two.css);
@import url(../blocks/most-popular/__illustration/_number/most-popular__illustration_numer_three.css);
@import url(../blocks/most-popular/__illustration/_number/most-popular__illustration_numer_four.css);
@import url(../blocks/most-popular/__cards-heading/most-popular__cards-heading.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__contacts-zone/contacts__contacts-zone.css);
@import url(../blocks/footer-logo/footer-logo.css);
@import url(../blocks/footer-logo/__content/footer-logo__content.css);
@import url(../blocks/footer-logo/__content/_car/footer-logo__content_car.css);
@import url(../blocks/footer-logo/__content/_premium/premium.css);
@import url(../blocks/social/__heading/social__heading.css);
@import url(../blocks/social/__description/social__description.css);
@import url(../blocks/social/__links/social__links.css);
@import url(../blocks/social/__link/social__link.css);
@import url(../blocks/recent-posts/recent-posts.css);
@import url(../blocks/recent-posts/__section-title/recent-posts__section-title.css);
@import url(../blocks/recent-posts/__post/recent-posts_post.css);
@import url(../blocks/recent-posts/__post-content/recent-posts__post-content.css);
@import url(../blocks/recent-posts/__illustration/recent-posts__illustration.css);
@import url(../blocks/recent-posts/__heading/recent-posts__heading.css);
@import url(../blocks/recent-posts/__subline/recent-posts__subline.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__footer-zone/footer__footer-zone.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);