.most-popular__illustration {
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    margin: 0;
    height: 195px;
    width: 270px;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    background: contain center no-repeat;
}