.pages-links__link {
    margin: 0 10px 0 0;
    height: 40px;
    width: 40px;
    left: 100px;
    top: 0px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}